  <div class="row">
    <span class="heading_section">
        Students are viewing
    </span>
  </div>

  <div class="main_card_row">
  <div class="card_courses"   *ngFor = "let course of coursesArray;">
    <div class="row inner_card_main_row">
      <div class="row img_contain_row">
        <img [src]="course.image" alt="" width="100%" height="100%">
      </div>
      <div class="inner_card_course">
      <div class="row">
        <span class="name_course">
          {{ course.name }}
        </span>
      </div>
      <div class="description">
        {{ course.description }}
      </div>
      <div class="price_row">
        <div class="price">
            {{ course.currency }}  {{ course.price }}
        </div>
        <div class="old-price">
           {{ course.currency }} {{ course.old_price }}
        </div>
      </div>
      <div class="best_seller_sticker" *ngIf="course.isBestSeller">
          best Sller
      </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row blog">
        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->

        </div>
    </div>
</div>
