.row{
  margin: 0px;
}
.heading_section
{
  font-size: 19px;
  font-weight: 400;
  line-height: 1.47em;
  color: #505763;
  margin: 0 0 10px;
}
.main_card_row{
  .card_courses
  {
    display: inline-block;
      position: relative;
      text-align: left;
      vertical-align: top;
      width: 216px;
      height: 290px;
      box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
      margin-right: 13px;

      :last-child{
        margin:0px;
      }
      .inner_card_main_row
      {
        display: block;
        height: 270px;
      }
      .img_contain_row
      {
        display: block;
        height: 125px;
      }
  }
}
.main_card_row .card_courses:last-child{
  margin: 0px;
}
.inner_card_course
{
  display: block;
  padding: 15px 10px 0 15px;
  font-size: small;
  .row
  {
    .name_course
    {
      display: block !important;
      display: -webkit-box !important;
      -webkit-line-clamp: 2;
      -moz-line-clamp: 2;
      -ms-line-clamp: 2;
      -o-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      -o-box-orient: vertical;
      box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      font-weight: 600;
      height: 42px;
      font-size: 15px;
      color: #29303B;
      margin-bottom: 10px;
    }
  }
  .description
  {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #686F7A;
    margin-bottom: 14px;
    margin-bottom: 14px;
  }
  .old-price::after{
    content: "";
    display: block;
    width: 100%;
    /* height: 1px; */
    border: 1px solid #000;
    position: absolute;
    top: 11px;
    z-index: 9999;
  }
  .price_row
  {
    display: flex;
    position: relative;
    .old-price
    {
      font-size: 15px;
      float: left;
      position: absolute;
      right:70px;
      top:5px;

    }
    .price
    {
      float: right;
      position: absolute;
      right: 11px;
      font-weight: 600;

    }
  }
  .best_seller_sticker
  {
    position: absolute;
    top: 7px;
    left: 6px;
    background: yellow;
    padding: 0px 10px;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 1000;
  }
}


.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}
